
/* universal selector */
/* * {

  text-align: center;
  -webkit-appearance: none;
}

ul {
  display: inline-flex;
  background-color: cyan;
  border-width: 40px;
  border-style: solid;
  border: darkslategrey;
}

.advertising {
  background-color: darkorchid;

}

.main {
  position: relative;
  top: 200px;
}

.footer {
  position: relative;
  top: 530px;
} */

/* * {
  text-align: center;
}

.header {
  display: inline-flex;
  
  
}

.footer {
  display: inline-flex;
} */



.flex-container {
  display: inline-flexbox;

}

.box {
  /* background-color: khaki; */
  /* text-align: center; */
margin-bottom: 267px;
}

.one {
  /* background-color: pink; */
  /* justify-content: space-evenly; */

}

.two {
  /* background-color: lightblue; */
  text-align: center;
}

.three {
  /* background-color: lightgreen; */
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
}

.footer {
  display: flex;
  justify-content: space-between;
}
