 /*universal selector*/

 * {
   text-align: center;
 }



 ul { 
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden
  }

li {
    display: inline;
    
}

a {
  
   /* display: -webkit-box; //this does vert left aligned navbar*/
    padding: 8;
    background-color: #f3f3f3;
    
}